@font-face {
    font-family: Bramley;
    src: url(/src/Bramley_Std_Medium.otf);
}

body {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: rgb(185, 185, 185);
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 10px 10px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    position: static;
    width: 100%;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    float: left;
    color: black;
}

nav a:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}

.content {
    margin-left: 60px;
    padding: 0px;
}

button {
    font-family: Bramley;
    background-image: linear-gradient(#1bff95, #00eb7d);
    border: none;
    width: 120px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-image: linear-gradient(#00763f, #004e2a);
    border-color: #1bff95;
    color: white;
    cursor: pointer;
}
