@font-face {
    font-family: Bramley;
    src: url(/src/Bramley_Std_Medium.otf);
}

body {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: rgb(185, 185, 185);
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 10px 10px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    position: static;
    width: 100%;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    float: left;
    color: black;
}

nav a:hover {
    background-color: rgb(35, 35, 35);
    color: white;
}

.content {
    margin-left: 60px;
    padding: 0px;
}

abbr, acronym {
    cursor: help;
}
